.root-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.image-container {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container h1 {
  position: relative;
  z-index: 1;
  font-size: 4rem;
  text-align: center;
  color: white;
}

.cta-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: white;
  border-radius: 2rem 2rem 0 0;
  z-index: 1;
}
