#custom-switch .custom-control-label {
  color: white;
}

#custom-switch .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #007bff;
}

#custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: white;
}
